@media (max-width: 480px) {

  /*Global Styles*/
  body { 
    position: relative;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  /*Navigation Bar*/

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(181, 181, 181);
  }

  .navlinks {
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 30px;
    margin: 0;
   padding: 10px 18px;   
    list-style: none;
    width: fit-content;
    margin-inline: auto;   
  }

  .navlinks a {
    display: flex;         
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 13px;        
    padding: 6px 15px;
    text-decoration: none;
    color: black;
  }

  .navlinks a:hover {
    color: #18831b;
    }

  .navlinks a.active {
    border-radius: 20px;
    color: white;
  }

  /*Home Page*/

  .indexh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .indexh2 {
    font-size: 18px;
    text-align: center;
    margin: 20px;
  }

  .indeximg {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .FoodOptions {
    list-style: none;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .FoodOptions li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    width: 100%;
    margin-bottom: 30px;
  }

  .FoodOptions img {
    width: 80px;
    height: auto;
    margin-bottom: 2px;
  }

  .FoodOptions a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
    border: solid 1px rgb(181, 181, 181);
    background-color: rgb(181, 181, 181);
    padding: 8px 15px;
    border-radius: 5cm;
    margin-top: 5px;
  }

  .FoodOptions p {
    font-size: 12px;
    text-align: center;
    margin: 0;
  }


  /*Menu Page*/

  .FoodOptions button {
    color: white;
    font-size: 12px;
    text-align: center;
    border: solid 1px rgb(181, 181, 181);
    background-color: rgb(181, 181, 181);
    padding: 8px 15px;
    border-radius: 5cm;
    margin-top: 5px;
  }

  button:active {
    background-color: white;
    color: rgb(181, 181, 181);
  }

  /*Order Page*/

  #ordercart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  #cart {
    margin-left: 10px;
    margin-right: 10px;
  }

  #ordercart button {
    margin-top: 15px;
    color: white;
    font-size: 12px;
    text-align: center;
    border: solid 1px rgb(181, 181, 181);
    background-color: rgb(181, 181, 181);
    padding: 8px 15px;
    border-radius: 1cm;
    margin-top: 5px;
  }
  
  #ordercart button:active {
    background-color: white;
    color: rgb(181, 181, 181);
  }

  #ordercart a {
    margin-top: 25px;
    color: black;
  }

  #receipt {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
}